body{
	background-color: black;
	color: white;
}
a{
	color: white;
}
a:hover{
	color:yellow;
	text-decoration: underline;
}
img{
	height: 250px;
}
.header{
	background-image: url(https://i.ytimg.com/vi/vm3uzg4qbJ8/mqdefault.jpg);
}
.header a{
	font-size: 35px;
}
.icono{
	height: 75px;
}
.icono:hover{
	content: url(https://cdn.icon-icons.com/icons2/2309/PNG/512/star_favourite_icon_141889.png);
	transform: rotate(3240deg);
	transition: 2s;
}
.h-button{
	color:white;
}
.i-contenido{
	border: 5px solid white;
}
#contenido {
	margin-left: 2.188rem;
	padding-top: 4.375rem;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 3.125rem;
}
.info{
	border: 5px white solid;
	transition: 1s;
	transition-delay: .1s;
}
.info:hover{
	background-image: url(https://www.nationalgeographic.com.es/medio/2021/08/23/representacion-artistica-de-la-via-lactea_44b3b1b9_985x554.jpg);
	transition: 2s;

}
.titulo{
	font-size: 1.875rem;
	text-decoration: underline;
}
.inf-img{
	height: 200px;
}
#contactos {
	border: 3px white solid ;
	margin-left: 20px;
	padding-top: 10px;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 1px;
}
#mapa{
	margin-left: 500px;
	font-size: 45px;
	text-decoration: underline
}
iframe{
	margin-left: 31.25rem;
	width: 500; 
	height: 380;
}
.valor span{
	color:green;
}
.precio{
	font-size:30px;
	a{
		color:green;
	}
}
.aceptado{
	font-size: 45px;
	padding-bottom: 390px;
}
.mb-3{
	max-width: 900px;
}
p{
	color: black;
}